.button-image {
  transition: 0.3s;
}

.button-image:hover {
  filter: brightness(1.1);
}

.button-image:active {
  filter: brightness(1.2);
}

/* Incognito Mode - Dark Theme */
.incognito,
.incognito headerbar {
  background-color: mix(@purple_5, @window_bg_color, 0.3);
}
